body {
    padding-top: 60px;
}
.btn-custom {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
.btn-custom:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}